cl_showpluginmessages 1 // enable display of the voting menu
sv_unlockedchapters 99 // unlock all chapters
joy_advanced 0 // don't use advanced joystick options

// Console filter; disabled due to conflicting with Xeogin's Autoexec
//con_enable 1
//con_filter_enable 2
//con_filter_text "paused the game" // bold messages with this text
//con_filter_text_out "playing sequence" // hide messages with this text
//snd_async_spew_blocking 0 // disable some I/O errors
//async_mode 1 // disable errors "Async I/O Force..."

// Budget_panel fix
budget_panel_y -20
budget_panel_width 870
budget_panel_height 870
budget_bargraph_background_alpha 16

// Other
exec joystick.cfg // setup custom controller
exec autoexec.cfg // run a user script file if present
stuffcmds // stuff command line statements
startupmenu // display the startup level
